*.iml
.gradle
/local.properties
/*/.idea/*
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradle
settings.gradle
/*/.gitignore
/*/gradlew
/*/gradlew.bat
/*/gradle.properties
/*/build.gradle
/*/app/.gitignore
/*/app/build.gradle
/*/app/proguard-rules.pro